body{
    background: #fff;
    font-family: Helvetica, sans-serif;
    border-top: 15px solid #424242;
    margin: 0 auto;
    color: #424242;
}

main {
    margin: 0 auto;
    width: 800px;
}

h1{
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: center left;
    font-size: 3em;
    padding-left: 55px;
    margin: 100px 0 25px 0;
}

h2 {
    margin: 0 0 10px 0;
}

p {
    margin: 0;
    line-height: 1.4em;
}